body{
    background-color: black;
    color: white;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; ;
    
}

/* Recently Played Section  */

img{
    height: 40px;
    border-radius: 7px;
}

.head{
    display: flex;
    justify-content:space-around;
    gap:15px;
    position: relative;
    top: 10px;
    
}
.logo{
    position: absolute;
    left: 10px;
}
.head input{
        background:#9D9797;
        border: none;
        outline: none;
        padding: 8px;
        font-size: 15px;
        border-radius: 50px;
}
.recent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    justify-content: center;
  
}



#image {
    height: 65px;
}

a {
    text-decoration: none;
}

.raat {
    display:flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 7px;
    height: 75px;
    width: 300px;
    background-color: #403d3d;
    color: white;
    box-shadow: 0px 10px 30px rgba(27, 21, 21, 0.5), 
              2px 3px 4px 5px rgba(255, 255, 255, 0.1)
}



  
  ::-webkit-scrollbar {
    height: 8px; 
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-track {
    background: #000000; 
  }


.trend {
    display:flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    padding-top: 20px;
    scrollbar-color: black;
    padding-left: 10px;
    background-color: #403d3d;
    border-radius: 15px;

}

#imagetrend {
    height: 140px;
    border-radius: 10px;
}

.tre {
    display: flex;
    text-shadow: 0px 5px 7px #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e2d2d;
    color: white;
    height:240px ;
    width: 200px;
    border-radius: 9px;
    
    
}
