
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
           
            background-size: 400% 400%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }

        
        .music-card {
            background: rgba(255, 255, 255, 0.9); 
            width: 300px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 20px 50px rgba(0,0,0,0.3);
            text-align: center;
            
        }

    

        
        .album-art {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            border-radius: 50%;
            border: 5px solid #fff;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            
            
        }
        
        .album-art img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        h2 {
            margin: 20px 0 5px;
            color: #333;
            font-size: 22px;
        }

        p {
            margin: 0 0 25px;
            color: #777;
            font-size: 14px;
        }
video{


  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10; 
  object-fit: cover;
}
  
    